/* LIGHT */
body.light {
    background: #f4f7fb;
    color: #222;
}

/* DARK */
body.dark {
    background: #121212;
    color: #eee;
}

body.dark .profile-card,
body.dark .course-card {
    background: #1e1e1e;
    color: #eee;
}

body.dark .profile-stats div {
    background: #2a2a2a;
}

body.dark .about-text,
body.dark .course-info p {
    color: #bbb;
}